/* Variables */

@import url("https://fonts.googleapis.com/css?family=Lato|Hind|Lora:400,400i,700,700i|Roboto:700");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap");

.about-layout {
  background-color: #f7f7f7;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  /*background-color: #1abc9c;*/
  color: #414141;
  font-family: "Lato", Arial;

  text-align: center;
}

.about-layout {
  overflow-x: hidden;
  max-width: 100%;
}

.overall_wrapper {
  /* Removing fixes an issue with double scrollbars */
  overflow-x: hidden;
  width: 100%;
  position: absolute;
}

.about-layout h1 {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.about-layout h2 {
  font-family: "Lato", Helvetica;
  font-weight: 700;
  margin-top: 70px;
  font-size: 2em;
}

.about-layout h3 {
  font-family: "Roboto", Helvetica;
  margin-top: 60px;
}

.about-layout h4 {
  font-family: "Lora", Helvetica;
  color: #acacac;
  font-weight: 100;
  margin-top: -10px;
  font-size: 1.4em;
  font-style: italic;
}

.about-layout h5 {
  font-size: 16px;
  line-height: 25px;
  color: #414141;
  /* grey */
  font-weight: 400;
}

.about-layout p {
  font-size: 0.95em;
  margin-bottom: 30px;
  line-height: 30px;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  /*font-size: 1.2em;*/
}

.about-layout ul {
  line-height: 34px;
}

.about-layout a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.about-layout a:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

#content_container ul {
  /* font-family: 'Lora', serif; */
}

#content_container a {
  border-bottom: 1px solid grey;
}

.row {
  margin: 0;
}

/*
PROJECT BODY
*/

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 6px 11px rgba(0, 0, 0, 0.17);
}

#progress_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0vw;
  background-color: #414141;
  height: 2px;
}

.proj_body_container {
  margin-top: 90px;
  padding: 50px 0 80px 0;

  -webkit-animation: fadeUp 1.2s;
  /* Safari 4.0 - 8.0 */
  animation: fadeUp 1.2s;
}

.proj_body_container img {
  box-shadow: 0 6px 11px rgba(0, 0, 0, 0.17);
}

.proj_body_container .no_shadow_img {
  box-shadow: none;
}

.white_bg {
  left: -10vw;
  top: -10vh;
  background-color: white;
  height: 90vh;
  width: 120vw;
  position: absolute;
  z-index: -1;
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}

.proj_title {
  font-size: 3.5rem;
  color: #414141;
  margin-bottom: 70px;
  font-weight: 100;
}

#header_img {
  height: auto;
  width: auto;
  max-height: 65vh;
  max-width: 95vw;
  box-shadow: none;
  margin: auto;
  margin-bottom: 30px;
}

.profile_img {
  border-radius: 20px;
}

.navbar_container {
  top: 0px;
  -webkit-transition: top 0.2s ease;
  transition: top 0.2s ease;
}

.proj_button {
  border-bottom: none !important;
  text-align: center;
}

.proj_button div:hover {
  transform: translateY(-3px);
}

.proj_button div {
  margin: 5px;
  padding: 10px;
  background-color: #414141;
  color: white;
  font-family: "Lato", sans-serif;
  display: inline-block;
  transition: all 0.2s ease;
}

.image_div {
  text-align: center;
}

.mobile_img {
  text-align: right;
  padding-right: 80px;
}

.mobile_body {
  text-align: left;
}

.summary_body {
  color: darkgrey;
  margin-top: 20px;
}

.summary_body p {
  margin: 10px 0;
}

.summary_body span {
  display: inline-block;
  float: left;
  text-align: left;
}

.summary_body span:nth-child(1) {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-right: 20px;
  font-size: 1em;
  color: #414141;
}

#final_link {
  font-size: 1.3rem;
}

#content_container {
  text-align: left;
}

#content_container img {
  width: 100%;
}

#content_container .row {
  -webkit-animation: fadeUp 1.2s;
  /* Safari 4.0 - 8.0 */
  animation: fadeUp 1.2s;
}

#content_container h2:before {
  /* display: block;
  content: " ";
  margin-top: -120px;
  height: 120px;
  visibility: hidden; */
}

.sidenav {
  position: inherit;
  list-style-type: none;
  text-align: left;
  padding-left: 0;
  margin-top: 70px;
  margin-left: -16px;
  border-left: solid 2px #414141;
  font-family: "Lato", sans-serif;
}

.sidenav li {
  font-size: 0.9rem;
  width: 100%;
  padding-left: 20px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.sidenav a {
  text-decoration: none;
}

.sidenav .subnav {
  padding-left: 35px;
}

.sidenav .subnav:hover {
  padding-left: 40px;
}

.sidenav li:hover {
  font-weight: bold;
  padding-left: 25px;
}

.block_quote {
  color: #7d7d7d;
  font-size: 1.3rem;
  font-style: italic;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  border-left: 4px solid #bababa;
  padding: 10px 30px;
  margin-left: -5rem;
  margin-right: -5rem;
}

.quote {
  text-align: center;
  color: #7d7d7d;
  font-size: 1.3rem;
  font-style: italic;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  padding: 10px 30px;
}

.img_caption {
  margin-top: 0.5em;
  margin-bottom: 3em;
  font-style: italic;
  font-size: 0.9em;
}

.protrude_container {
  margin-left: -10rem;
  margin-right: -10rem;
  margin-bottom: 20px;
}

.thanks {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  margin-top: 100px;
}

.thanks h2 {
  margin-top: 40px;
}

.line {
  height: 5px;
  width: 60px;
  margin: auto;
  background-color: black;
}

.invision_embed {
  display: block;
  margin: auto;
}

/* SPECIFIC PROJECTS */

.app_v1 {
  margin-left: -4rem;
  margin-right: -4rem;
}

/* MOBILE (xs) */
@media screen and (max-device-width: 48em), (max-width: 48em) {
  .zero_col {
    display: block;
  }

  #content_container {
    padding-left: 0;
    padding-right: 0;
  }

  .proj_title {
    font-size: 3rem;
    letter-spacing: 3px;
  }

  .block_quote {
    margin-left: 0;
    margin-right: 0;
  }

  #header_img {
    float: none;
    max-height: 30vh;
  }

  .image_div {
    text-align: center;
  }

  .mobile_img {
    padding: 0;
  }

  .summary_body {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .protrude_container {
    margin: 0;
  }

  .invision_text_link {
    display: inline;
  }

  .invision_embed {
    display: none;
  }

  .footer_links {
    margin-top: 50px;
  }

  .footer_links {
    text-align: center;
  }
}

/* MOBILE (md) */
@media only screen and (max-width: 64em) {
  .sidenav {
    display: none;
  }
}

/* NOT MOBILE */
@media screen and (min-device-width: 49em), (min-width: 49em) {
  .zero_col {
    display: none;
  }
}

.stat_number,
.stat_desc {
  text-align: center;
}

.stat_number {
  font-size: 3rem;
  font-weight: bold;
  color: #5d7fc2;
  margin-bottom: 10px;
}

.stat_desc {
  font-size: 1.3rem;
  margin-bottom: 50px;
}

/* FOOTER */

.footer {
  padding: 100px 0 100px 0;
  background-color: #191919;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  color: #979797;
}

.footer_quote {
  text-align: left;
}

.fa {
  margin: 0 10px 0 10px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.footer .fa:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.footer_links {
  text-align: right;
}
